.activityContent{
  
    padding :2% 5% 0% 2%;
    /* padding-right:10%; */
    /* background-color: red; */
    background-color: white;
    border-radius:0.5px;
    border-style:solid;
    border-width:0.5px;
    margin-top:5px;
    border-color:#dde2e286;
    border-left-width:1.5px;
    border-left-color:#34a9ad;
    
    display:grid;
    /* box-shadow: 0px 0px 5px 2px rgba(82, 81, 81, 0.02);  */
    /* box-shadow: 0px 0px 5px 0.5px rgba(95, 95, 95, 0.068); */

    grid-template-columns: 15% 85%;
}
/* p{  font-size:1px; */ 
    /* font-weigh; */
  
 /* } */
.Notify{
   top:-10px;
   font-size:12px;
   /* margin-bottom:-10px; */
   margin-right:90%;
 
  
}
.callIconDiv{
    padding-top:20px;

}

.callIcon{
    font-size: 17px;
}
.msg{
    font-size: 22px;
    padding-top:5px;
}
.missed{
color:rgb(185, 15, 15);
}
.profIconImg{
    width:25px;
    height:25px;
    border-radius:50%;
    margin-top:"-5px";
}
.activityImage{
    width:35px;
    height:35px;
    border-radius:50%
}
p{
    font-size:13px;
}
.activityContentWithDate{
    width:90%;
    margin:auto;
    margin-top:-5px;
    display:grid;
   
    /* grid-template-columns: 20% 80% */
}
.activityContent:hover{
    box-shadow: 5px 5px 7px 0.5px rgba(82, 81, 81, 0.034); 
/* background-color:  #eee; */
}


@media (min-width: 1000px) {
    .activityContentWithDate{
        width:75%;
        margin:auto;
        margin-top:-5px;
    }
}

@media (min-width: 700px) {
    .activityContentWithDate{
        /* background-color: black; */
         width:40%;
         margin:auto;
         margin-top:-5px;
         /* display:grid; */
          /* grid-template-columns: 10% 85% ; */
    }
}