.activityContent{
  
    padding :2% 10% 0% 10%;
    /* padding-right:10%; */
    /* background-color: rgb(248, 209, 209); */
    background-color: white;
    border-radius:0.5px;
    border-style:solid;
    border-width:0.5px;
    margin-top:5px;
    border-color:#dde2e286;
    border-left-width:1.5px;
    border-left-color:#34a9ad;
    
    /* display:grid; */
    /* box-shadow: 0px 0px 5px 2px rgba(82, 81, 81, 0.02);  */
    /* box-shadow: 0px 0px 5px 0.5px rgba(95, 95, 95, 0.068); */

    /* grid-template-columns: 10% 90%; */
}
/* p{  font-size:1px; */ 
    /* font-weigh; */
  
 /* } */
.Notify{
   top:-10px;
   font-size:12px;
   /* margin-bottom:-10px; */
   margin-right:90%;
 
  
}
.profIconImg{
    width:25px;
    height:25px;
    border-radius:50%;
    margin-top:"-5px";
}
.activityImage{
    width:35px;
    height:35px;
    border-radius:50%
}
p{
    font-size:13px;
}
.activityContentWithDate{
    width:90%;
    margin:auto;
    margin-top:-5px;
    display:grid;
   
    /* grid-template-columns: 0% 80% */
}
.activityContent:hover{
    box-shadow: 5px 5px 7px 0.5px rgba(82, 81, 81, 0.034); 
/* background-color:  #eee; */
}


@media (min-width: 1000px) {
    .activityContentWithDate{
        width:75%;
        margin:auto;
        margin-top:-5px;
    }
}

@media (min-width: 700px) {
    .activityContentWithDate{
         width:50%;
         margin:auto;
         margin-top:-5px;
         /* margin:ato */
         /* grid-template-columns: 10% 85%  */
    }
}