.App {
  background-color:#f5f0f8;
  /* background-color: white; */


  font-family: "Helvetica";
  height: '100vh';
}
.mainContainer{
  min-height:100vh;
}
.myInput{
  width:65%;
  padding:2px 12px 2px 12px;
  border-radius: 4px;
  border-style:solid;
  border-width:1px;
  border-color:rgb(116, 114, 114);
  margin:auto;
  font-size:13px;
}
p{
  margin-top:0px;
  margin-bottom:0px;
  padding-top:0px;
  padding-bottom:0px;
}
div{
  margin-top:2px;
  margin-bottom:0px;
}
body{
 color:rgb(32, 32, 32);
  
}
a{
  color:white
}
button:focus {outline:0;
outline-offset: 0px;
outline-style: none}

.buttonLight{
  border-style: solid;
  border-width:0.5px;
  background-color:rgb(252, 252, 247);
  font-size: 15px;
  font-weight: 400;
  height:27px;
  width:auto;
  padding: 0px 10px 0px 10px;
  /* border-color:rgb(153,153,153); */
  border-color:black;
  color:rgb(102, 102, 102);
  outline:none;
  outline-style: none;
  border-radius:3px;
  margin:5px;
  /* background-color:white; */
}
.buttonLight:focus{
  outline:0px;
}
.buttonLight:hover{
  color:black;
  border-color:black;
}

a[href], input[type='submit'], input[type='image'], label[for],span, select, button, .pointer {
  cursor: pointer;
}

.buttonLight:disabled{
  color:rgb(211, 210, 210);
  border-color:rgb(209, 209, 209)
}
audio{
  height:30px;
  width:70%;
}


.buttonDark{
  outline:25px;
  border-style: none;
  padding: 0px 12px 0px 12px;
  background-color:wihte;
  border-width:0.5px;
  font-size: 13px;
  margin-left:2px;
  margin-right:2px;

  height:29px;
  width:auto;
  outline-style: solid;
  outline: 0;
  border-color:#929292;
color:white;

  border-radius:3px;
  /* background-color:#aac8db; */
  background-color: #34a4a8;

  /* background-color: rgb(205, 243, 224); */
 
 
}
.buttonDark:focus{
  outline:0px;
}
.buttonDark:hover{
background-color: #247679;
}


