.App {
  background-color:rgb(243,243,243);
  font-family: Helvetica;
  height: '100vh';
}
.mainContainer{
  min-height:100vh;
}
body{
  background-color:rgb(231, 240, 248);
 
  /* height: '100vh', */
  /* min-height : '100vh' */
  
}
button:focus {outline:0;
outline-offset: 0px;
outline-style: none}

.buttonLight{
  border-style: solid;
  border-width:0.5px;
  background-color:wihte;
  font-size: 15px;
  font-weight: 400;
  height:27px;
  width:auto;
  padding: 0px 10px 0px 10px;
  border-color:rgb(153,153,153);
  color:rgb(153,153,153);
  outline:none;
  outline-style: none;
  border-radius:3px;
  background-color:white;
}
.buttonLight:focus{
  outline:0px;
}
.buttonLight:hover{
  color:black;
  border-color:black;
}
audio{
  height:30px;
  width:70%;
}


.buttonDark{
  outline:25px;
  border-style: none;
  padding: 0px 10px 0px 10px;
  border-width:0.5px;
  background-color:wihte;
  border-width:2px;
  font-size: 13px;
  margin-left:2px;
  margin-right:2px;

  height:27px;
  width:auto;
  outline-style: none;
  outline: 0;
  border-color:rgb(52,161,165);
color:white;

  border-radius:3px;
  background-color: rgb(52,161,165);
  /* background-color: rgb(205, 243, 224); */
 
 
}
.buttonDark:focus{
  outline:0px;
}
.buttonDark:hover{
background-color: rgb(44, 144, 148);
}


