.Modal{
    position: absolute;
    top: 200px;
    left: 25%;
    right: 25%;
    bottom: 200px;
    background-color: white;
    border-radius:5px;
    padding:25px;
}

    .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(129, 129, 129, 0.472);
  }