
  .feedbackDiv{
      text-align: center;
      width:380px;
      margin:auto;
      margin-top:20px;
      border-radius:2.5px;
      border-style:solid;
      border-color:rgba(116, 116, 116, 0.548);
      border-width:1px;
      padding:4px;

  }
.rating{
    display:grid;
    grid-template-columns: 50% 50%;
}