
.copyToCipboardDiv{
margin:auto;
padding-top:10px;
padding-bottom:10px;
}
.myInputClip{
    width:70%;
    border-radius:5px;
    border-style:solid;
    border-width:0.5px;
    height:30px;
    padding-left:20px;
}
.cpyNewBtn{
    width:28px;
    height:28px;
    margin:5px;
  position: relative;;
  top:-3px;
}