.detailProjectConatiner{
    width:95%;
    /* display:grid;
    grid-template-columns: 60% 40%; */
  
    margin:auto;
    min-height: 99vh;

}
.detailsProfileName{
    padding:15px;
}
.detailsProfileImg{
    width:35px;
    height:35px;
    border-radius:50%;
}
.detailVideoElementSection{
    padding:10px;

}
.deatilsVideoCard{
    border-radius:3px;
    background-color:white;
    box-shadow: 0px 0px 5px 1px rgba(136, 135, 135, 0.151);

}
.footerSection{
    text-align: right;
    padding:10px;
}
.detailVideoElement{
    height:355px;
    width:100%;
}
.nameSection{
    height:60px;
    padding:10px;
}
.detailExplainedPeopleDiv{
    /* border-style:solid; */
    text-align: center;
padding:10px;

}
.detailExplainedPeopleSection{
    margin-top:0px;
    width:100%;
    height:480px;
    /* background-color: white; */
    border-style:none;
    border-radius:3px;
    overflow: auto;
    border-width:0.5px;
    
    border-color:rgba(77, 76, 76, 0.205);
}
.DetailsBtn{
    border-radius:20px;
}
.deatilsProfileImgContain{
    width:51px;
    height:51px;
    text-align: centre;
  
    background-color: rgba(220, 247, 238, 0.397);
    border-radius:50%;
    border-style: solid;
    border-width:0.5px;
    border-color:back;
}
.detailsExplaination{
    padding-left:15px;
    font-size: 12px;
    float:right;
    width:78.5%;
    height:50px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis; 
   
}
.detailTextExplain{
    width:80%;
    margin:auto;
    font-size:13px;
    
}
.explainedPersonCard{
    height:80px;
    width:80%;
    padding:20px;
    text-align: left;
    margin:auto;
    border-radius:3px;
    background-color:white;
    box-shadow: 0px 0px 5px 1px rgba(136, 135, 135, 0.151);
    margin-top:15px;
}
.explainedPersonCard:hover{
    box-shadow: 0px 0px 0px 0px rgba(136, 135, 135, 0.151);

}


@media (min-width: 700px){
    .detailProjectConatiner{
        width:80%;
        display:grid;
        grid-template-columns: 60% 40%;
        grid-column-gap: 20px;
    }
}