.formContainer{

    width:70%;
    margin:auto;
    margin-bottom:10px;
    text-align: center;
}
.formContainerExplain{
    text-align: center;
}
.optionBtnPlacement{
    width:30%;
    height:55px;
    padding-top:7px;
    margin:auto;
   border-style:solid;
   border-width:0.5px;
   border-radius:8px;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    text-align: center;
}
.shareTime{
    width:100%;
    margin:auto;
    align-self: center;
    background-color: red;
    border-radius:5px;
 
}
.explainFormContainer{
    align-self: center;
    padding:10px;
    width:89%;
    margin:auto;
    margin-top:20px;
    border-style:solid;
    border-radius:5px;
    background-color:white;
    border-width:0.3px;
    border-color:rgb(243, 237, 237);

}

.reExplainContainer{
    min-height:95vh;
    width:65%;
    margin:auto;
    padding-top:55px;
    
}
.explainContainer{
  
    text-align: center;
      margin-top:5px;
    margin:auto;
    border-style:none;
    border-radius:5px;
    border-width:0.7px;
}
.shareElement{
 border-radius:5px;
 
}
.shareControl{
    width:100%;
    box-shadow:none;
    box-shadow: 0 0 0 0;
    border-style:solid;
    border-radius:5px;
 
}
.messageToDownload{
    background-color:rgb(218, 216, 216);
    border-radius: 5px;
    width:90%;
    margin:auto;
    text-align: center;
    margin-top:15px;
    margin-bottom:15px;
    padding:15px;

}
.recorderScreen{
    width:100%;
    margin:auto;
    padding-left:90%;
}
.imageBtns{
    padding:5px 15px 5px 15px;
    width: 45%;
    margin:auto;
    border-style:solid;
    background-color:white;
    border-radius:10px;
    border-width:0.5px;
    border-color:rgb(165, 163, 163);
    
}
.screenShareBtn{
    width:28px;
    height:28px;
}
.navgationDiv{
    width:95%;
    display:inline;
    margin:auto;
margin-top:10px;
margin-bottom:10px;

}

.RecordBtn{
    float:right;
    width:28px;
    height:28px;
    padding:0px;
}
.divRecordOrShare{
    width:40%;
    margin:auto;
    margin-top:20px;
    display:inline;
}


@media (min-width: 700px) {
    .formContainer{
    
        width:70%;
    }

}
@media (min-width: 1000px) {
    .explainContainer{
        padding:5px;
        width:56%;
        margin:auto
        
    }
    .formContainer{
    
        width:65%;
    }
}
