.formContainer{
    /* background-color:white; */

    width:70%;
    margin:auto;
    /* margin-top:5px; */
    margin-bottom:10px;
    text-align: center;
}
.formContainerExplain{
    /* background-color: #ddd; */
    text-align: center;
}
.optionBtnPlacement{
    width:30%;
    height:55px;
    padding-top:7px;
    margin:auto;
   border-style:solid;
   border-width:0.5px;
   /* border-color:rgb(128, 128, 128); */
   border-radius:8px;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    text-align: center;
    /* background-color: red; */
}
.shareTime{
    width:100%;
    margin:auto;
    align-self: center;
    background-color: red;
    border-radius:5px;
    /* height: 75vh; */
    /* background-color:blue; */
}
.explainFormContainer{
    align-self: center;
    padding:10px;
    width:89%;
    margin:auto;
    margin-top:20px;
    border-style:solid;
    border-radius:5px;
    background-color:white;
    border-width:0.3px;
    border-color:rgb(243, 237, 237);

}

.reExplainContainer{
    min-height:95vh;
    width:65%;
    margin:auto;
    padding-top:55px;
    
}
.explainContainer{
    /* background-color: blue; */
    /* padding:5px; */
    text-align: center;
      margin-top:5px;
    margin:auto;
    border-style:none;
    border-radius:5px;
    /* background-color:white; */
    border-width:0.7px;
    /* border-color:rgb(224, 215, 215); */
}
.shareElement{
    /* border-style:solid; */
    /* background-color: yellow; */
    border-radius:5px;
 
}
.shareControl{
    width:100%;
    /* background-color:green; */
    box-shadow:none;
    box-shadow: 0 0 0 0;
    border-style:solid;
    border-radius:5px;
    /* border-r */

}
.messageToDownload{
    background-color:rgb(218, 216, 216);
    border-radius: 5px;
    width:90%;
    margin:auto;
    text-align: center;
    margin-top:15px;
    margin-bottom:15px;
    padding:15px;
    /* box-shadow: 0px 2px 2px 1px rgba(85, 85, 85, 0.329); */

}
.recorderScreen{
    width:100%;
    margin:auto;
    padding-left:90%;
}
.imageBtns{
    padding:5px 15px 5px 15px;
    width: 45%;
    margin:auto;
    border-style:solid;
    background-color:white;
    border-radius:10px;
    border-width:0.5px;
    border-color:rgb(165, 163, 163);
    
}
.screenShareBtn{
    width:28px;
    height:28px;
    /* align:right; */
}
.navgationDiv{
    width:95%;
    display:inline;
    margin:auto;
margin-top:10px;
margin-bottom:10px;

}
/* .imageBtns{
/* display:inline;
width:25%;
margin:auto;
margin-top:10px;
margin-bottom:10px; */
/* } */ 
.RecordBtn{
    float:right;
    width:28px;
    height:28px;
    padding:0px;
}
.divRecordOrShare{
    width:40%;
    margin:auto;
    margin-top:20px;
    display:inline;
}


@media (min-width: 700px) {
    .formContainer{
        /* background-color:white; */
    
        width:70%;
    }

}
@media (min-width: 1000px) {
    .explainContainer{
        padding:5px;
        width:56%;
        margin:auto
        
    }
    .formContainer{
        /* background-color:white; */
    
        width:65%;
    }
}
