.inboxContainer{
width:90%;
margin:auto;
margin-top:20px;
/* text-align:center; */
/* align-items: center; */
}
.mainBodyContainer{
    min-height:100vh;
}
.inboxText{
    width:30%;
    margin:auto;
    text-align: center;
    align-self: center;

}
.timeDate{
    float:right;
    font-size:11px;
}
.nameDate{
    text-align: left;
    padding-left:11%;
}
.linkToProject{
    width:60%;
    text-align: left;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis; 
    /* padding-left:11%; */
}
.messageElementDiv{
    width:100%;
    margin:auto;

    margin-top:20px;
    padding:30px 30px 20px 20px ;
    background-color:white;
    /* border-top-style:solid; */
    /* border-top-radius:6.5px; */
    border-radius:3px;
    border-top-color:rgb(192, 188, 188);
    border-top-width:0.5px;
    box-shadow: 0px 0px 5px 2.5px rgba(192, 192, 192, 0.178);
    display:grid;
    grid-template-columns: 20% 80%;
}
.messageElementDiv:hover{
    box-shadow: 0px 0px 0px 0px rgba(192, 192, 192, 0.335);
}

.profileImageInbox{
    height:65px;
    width:65px;
    border-radius:50%;
    margin:auto;
    text-align: center;
    box-shadow: 0px 0px 7px 1px rgba(109, 108, 108, 0.424)
  }
  .profileImageElementInbox{
    height:66px;
    width:66px;
    border-radius:50%;
    margin:auto;
  }

  
  @media (min-width: 700px) {
    .messageElementDiv{
        width:80%;
        grid-template-columns: 23% 77%;
    }
}

  @media (min-width: 1000px) {
    .messageElementDiv{
        width:60%;
          grid-template-columns: 6% 94%;
    }
  }