.inputBox{
    width:100%;
    margin:auto;
    border-radius:3.5px;
    padding:5px;
    font-size:12px;
}
.inputNumberDiv{
    display:inline-block;
}
.spanElement{
    color:rgb(138, 16, 16);
    font-size:12px;
    /* margin-top: */
}

.inputNumber{
    /* border-radius:5px; */
    text-align: center;
    padding:px;
    width:30px;
    height:25px;
    margin:0px;
    border-style:none;
    border-bottom-style: solid;
    border-width:0.5px;
    border-color:rgb(114, 113, 113);

}