.issueModal{
margin-top:0;
border-bottom-style: none;
border-bottom-width: 0px;
box-shadow: 0px 0px 0px 0px rgba(85, 85, 85, 0.329);
width:100%;
border-radius:10.5px;


}
p{
color:rgb(90, 90, 90);
}
.menuIcon{
    font-size:15px;
    width:70%;
    margin-top:-5px;
}
.dropDownBtn{
    width:60%;
   
    background-color:transparent;
  
    border-style:none;

}
.menuItem{
    width:100%;
    padding-left:20px;
    height:30px;
    /* padding-top:10px; */
    padding-bottom:10px;
    padding-top:5px;
    /* margin-top:10px; */
    /* margin-bottom:10px; */
    border-bottom-style: solid;
    border-bottom-color: rgba(51, 51, 51, 0.192);
    /* display: inline-block; */
    border-bottom-width:0.5px;
    text-align: left;
  
    /* height:30px; */
}
.menuTwoParts{
    display:grid;
    grid-template-columns: 20% 80%
}
.privateOpt{
    padding-left:30%;
    display:inline-block;
}
.menuItem:hover{
    /* background-color: rgba(176, 150, 177, 0.562); */
    background-color: #3333;
}
.textInDropDown{
    display: "inline-block";
    margin: "15px";
    margin-top: "-10px",
}
.drpLogout{
    position: absolute;;
    left:-40px;
    /* color:red; */
  }
  .drpOpt{
    position: absolute;;
    left:-125px;
  }
.dropDownForOption{
    /* padding-left:10px; */
    width:155px;
    text-align: left;
    position:absolute;
    /* left:-125px; */
    /*top:20px; */
    background-color: white;
    border-radius:5px;
    /* padding:0 10px 0 10px; */
    /* overflow:hidden; */
    border-style:none;
    z-index:1000000;
    box-shadow: 0px 0px 10px 2px rgba(85, 85, 85, 0.192);

}

.questionModal{
    border-bottom-style:none;
    border-bottom-width:0.2px;
    border-bottom-color:white;
}
.imageModal{
    height:205px;
    width:100%;
    /* margin:auto; */
    /* border-style: solid;
    border-color:rgb(192, 190, 190);
    border-width:0.2px; */
}
.icons{
    margin-left:10px;
    text-align: right;
}
/* .dateNew{
   
} */

.explainModal{
   margin-top:10px;
   margin-bottom:10px;
    width:100%;
    display:grid;
    /* grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66% ; */
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%; 
    grid-row-gap: 10px;
  
}
.profileNameDiv{
    text-align: center;
    display:"none";
}
.cardProfilePicDiv{
    /* background-color:yellow; */
    margin-top:8px;
    width:36px;
    height:36px;
    text-align: center;
    border-radius:50%;  
    border-style:solid;
    border-width:1.5px;
    /* background-color:#43a8ac; */
    border-color:#43a8ac;
    /* border-color:#046366; */
    
}
.cardProfileNameDiv{
/* background-color:orange; */
text-align:left;
margin-top:5px;
padding:10px;
padding-left:5px;
color:rgb(78, 78, 78);
}
.cardProfileName{
font-size: 30px;
}
.cardProfilePic{
    /* background-color:yellow; */
    widows: 34px;
    height:34px;
    margin-top:2px;
    border-radius: 50%;
}
.cardDate{
    height:25px;
    padding:0px 0px 0px 3px;
    /* text-align: left; */
    display:grid;
   
    grid-template-columns: 20% 64% 15%;
   
    /* background-color: purple; */
}
.cardDateSpan{
    color:#007074;
    font-weight:300;
    font-size:14px;
}
.cardtwitterHolder{
    /* background-color: aqua; */
    padding:10px;
}
.questionImg{
    padding:0px 4px 0px 10px
}
.cardDropdown{
    position: relative;
  display: inline-block;

}
.explainAnswerDiv{
    display:grid;
    grid-template-columns: 9% 85% 6%
}
.explainAnswer{
    width:100%;
    /* background-color: blue; */
    margin:auto;
    /* margin-left:9%; */
    padding:10px 0px 10px 10px;
   
    display:grid;
    grid-template-columns: 50% 35% 15%;

  }

.explainVideo{
    border-radius:05px;
    overflow: hidden; 
}
.profileCardDiv{
    display:grid;
    grid-template-columns:14% 40% 50%
}
/* .cardIconsRight{
  text-align: right;
} */
.copyDisplay{
        width:100%;
        text-align: center;
}
.cardMiddleSection{
    display: grid;
    grid-template-columns: 9% 85% 6%;
}
.cardExplainText{
    text-align: left;
  margin:auto;
  padding:0px 5px 2px 10px;
font-size:12px;
font-weight:530; 
  }




.topButtons{
    width:100%;
    /* height:95px; */
  
    padding:3px 3px 0px 0px;
    /* padding-top:15px; */
    padding-left:3px;
 
  border-bottom-style:none;
  border-bottom-color: rgb(232,232,232);
  border-bottom-width:0.5px;
  /* background-color:brown; */
}
.seconBandTop{
    padding:0px 10px 0px 10px;
 display: grid;
  grid-template-columns: 90% 10%;
  /* background-color: violet; */
}
.imagePeopleModal{
    /* background-color: #222222; */
    display: inline-block;
    height:55px;
    width:55px;
    margin:auto;

  }
  .audioModal{

   

     width:100%;
     height:378px;
     text-align: center;
     align-content: center;
     align-items: center;
     /* border-style:solid;
     border-width: 0.5px;
     padding:5px;
     border-color:rgb(117, 117, 117); */

  }
  


  @media (min-width: 700px) {
      
   
}

  @media (min-width: 1000px) {
    .ProfileNameCard{
        display:block;
    }
    .drpLogout{
        left:0px;
      }
    .dropDownForOption{
        left:0px;
      }
      .drpOpt{
        left:0px;
      }
    .profileCardDiv{
        display:grid;
        grid-template-columns:8% 42% 50%
    }

    .profileNameDiv{
        display:block;
        text-align: center;
    }
    .cardProfilePicDiv{
        /* background-color:yellow; */
        width:40px;
        height:40px
    }

  }