.dropdown {
    display: inline-block;
    margin-top:-55px;
  }
  
  .dropdown-content {
    display: inline-block;
    position: absolute;
    right:7px;
    background-color: #f9f9f9;
    /* background-color: #d3a5cd; */
    min-width: 135px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    padding: 10px 5px 5px 5px;
    z-index: 1;
  }
  .navButton1{
      border-style: none;
      background-color:  #f9f9f9;
      color:black;
      height:35px;
  }
  .labelProfilePicNav{
    width:45px;
    height:45px;
    border-radius:50%;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .imageLogout{
      width: 20px;
      height:20px;
      float:right;
      margin-top:5px;
      

  }

  .navBar{
    width:100%;
  
    color:#454545;
    background-color: white;
    border-style:solid;
    border-bottom-color:rgba(129, 128, 128, 0.253);
    border-width:0px;
    border-bottom-width: 0.5px;
    font-size:15px;
    padding :20px 0 0 0 ;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);

  


  }
  /* .navBarLogin{
margin-top:-100px;
  } */
  .navgation{
    width:100%;
   margin:auto;
   margin-left:60%;
   /* text-align:center; */
    
  }
  .logo{
    font-size: 17px;
  }
  .logoCentre{
    font-size: 17px;
    margin-left:-42px;
  }
 
  .logoContainer{
    width:125px;
    height:35px;
  }
  .logoContainerCreate{
    width:35px;
    height:35px;
    margin-left:35px;
  }
  .navItem{
    display:grid;
    padding:5px;
    grid-template-columns: 70% 30%;
    text-align:center;
  }
  a:hover {
    color: rgb(68, 68, 68);
    text-decoration: none;
  }

  .noButtons{
    background-color: white;
    border-style:none;
    
  }
  .noButtons:focus {
    outline:none;
  }
  .normalNav{
    margin-top:10px;
  }
  @media (min-width: 700px) {

    .navgation{
      width:60%;
      display:grid;
      grid-template-columns: 33.33% 33.33% 33.33%;
      grid-column-gap: 3px;
      margin:auto;
     
    }
    .logo{
      font-size: 20px;
    }
  }
  .logoCentre{
    font-size: 17px;
    margin-left:-22px;
  }
 
  .navBar{
    display: grid;
    grid-template-columns: 15% 50% 35%;
  }

  @media (min-width: 1000px) {
    .navgation{
      width:60%;
      margin-left:45%
    }
    .dropdown-content {
      display: none;
      position: absolute;
      right:7px;
    }
      /* .navItem{
        display:grid;
        grid-template-columns: 25% 25% 25% 25%;
        text-align:center;
      } */
  
  }

  