
  /* .profileCardDiv{
    display:inline-block;
    text-align: left;
    display:grid;
    grid-template-columns: 50% 50%
    
  } */
  .navbar-brand{
    color:white;
  }
  .PublicPrivateToggle{
    padding: 40px 0pax 40px 0px;
}
.startShare{
  margin-top:20px;
  padding-top:15px;
  font-size:14px;
}
.handleInput{
  width:100px;
  text-align: center;
  border-style:none;
  border-bottom-width:1px;
  border-bottom-style: solid;
  border-bottom-color: #dde2e2;
  background-color:white;
  color:rgb(112, 112, 112);
  font-weight: 500;

}
.handleInput:focus{
  outline:none;
}
  .sharableLinkSection{
    width:80%;
    margin:auto;
    /* padding:15px; */
    margin-top:10px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 5px 0.5px rgba(95, 95, 95, 0.068);
    border-radius:5px;
    border-style:solid;
    border-width:1px;
    border-color:#bebebe81;;
  }
  .navBar{
    background-color:white;
     min-height:70px;
     border-bottom-style:solid;
     border-bottom-color:rgb(224, 215, 215);;
     border-bottom-width:0.7px;

  }
  .sharableLink{
    width:20%;
    margin-left:0px;
    background-color: white;
    text-align: left;
    align-content: left;
    align-items: left;
  }
  
.bodyWhole{
    background-color:rgb(255, 255, 255);
  
     
    
  
}
.profileImages{
  width:100%;
  height:100%;
  border-radius:50%;

}
.twitterBtnDiv{
  width:100%;
  text-align:center;
  margin-top:25px;
  align-content: center;


}
.profileImagesDiv{
  height:37px;
  width:37px;
  border-radius:50%;

/* background-color: red; */
}

a{
  color:rgb(12, 12, 53);
  text-decoration: underline;
}
.LinkBtn{
  color:white;

}
  li a {
  
    color:rgb(12, 12, 53);
  
  }

  
  
.addBtn{
  width:100%;
text-align: center;
  margin:auto;
}
.Profilecard{
  width:95%;
  height:225px;
  margin:auto;
  margin-top:40px;
  background-color: #ffff;
  border-style:solid;
  border-width:1px;
  border-color:#b9b8b8; 
  border-radius:6.5px;
  box-shadow: 0px 0px 8px 1px rgba(245, 242, 242, 0.5);
 
}
.Profilecard:hover{
  box-shadow: 0px 0px 0px 0px rgba(143, 143, 143, 0.527);
}
.topSymbolMain{
  width:100%;
  height:10px;
  margin-top:-16px;
  text-align: right;
}

.inviteMagic{
  border-style:none;
  border-width:1px;
  border-radius:8px;
  border-color:rgba(155, 153, 153, 0.609);
}
.inviteContainer{
  
  margin:auto;

  text-align: center;
  color:rgb(97, 96, 96);

}
.blackwhite{
  text-align: right;
  padding:8px;
  margin-top:0px;
  height:50%;
  background-color: #dddd;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.labelContainerMain{
  padding:5px;
  padding-top:34px;
  height: 120px;
  
  border-style:solid;
  border-color:#bebebe81;
  border-width:1px;
  padding-bottom:5px;
  border-radius:5px;
  width:80%;
  margin:auto;
  margin-top:30px;
  position:relative;
  /* border-left-width:2.5px;
  border-left-color:#34a9ad; */
  /* background-color:#eee; */
  background-color: white;

}
/* .labelContainerMain:hover{

} */
.ProfileDiv{
  width:95%;
  margin:auto;
  text-align: center;
  align-items: center;
}
.explainBtn{
 
 font-size: 17px;
  border-radius:20px;
  width:100px;
  height:40px;
margin-top:10px;

}
.topBtnsActivity{
  width:100%;
  height:35px;
  padding:7px;
  border-bottom-style:none;
  border-bottom-width:1px;
  border-bottom-color:#dde2e2;



}
.fullHome{
  min-height:99.7vh;
  /* background-color: rgb(143, 205, 228); */
  /* background-color: #f4f8f8; */
  background-color:  #f9fafa;
}
.displayNumber{
  color:black;
  text-align: center;
  font-size: 15px;
  margin-top:7px
}
.profileDetails{
  padding:05px;
  display:grid;
  grid-template-columns: 50% 25% 25%;
  margin:auto;

}
.numberShow{
  position: relative;
  font-weight: bold;
  color:rgb(11, 11, 92);

  font-size:15px;
}
.profileImage{
  height:95px;
  width:95px;
  border-radius:50%;
  margin:auto;
  background-color:white;
  position:relative;
  top:-40%;
 
  text-align: center;
  box-shadow: 0px 0px 7px 1px rgba(105, 105, 105, 0.349)
}
.profileImageElement{
  height:96px;
  width:96px;
  border-radius:50%;
  margin:auto;
}
.profileImage{
  height:125px;
  width:125px;

}
.profileImageElement{
  height:126px;
  width:126px;
 
}
.nameImageDiv{
  text-align: center;

}
.profileName{
  position:relative;
  top:-40%;

 
}
.callerProfileImage{
  height:75px;
  width:75px;
  border-radius:50%;
  margin:auto;
  background-color:white;
  text-align: center;
  box-shadow: 0px 0px 7px 1px rgba(105, 105, 105, 0.349)
}
.callerProfileImageElement{
   height:75px;
  width:75px;
  border-radius:50%;
  margin:auto;
}

  .containerHome{
      width:100%;
      /* min-height: 65vh; */
      margin:auto;
      text-align: center;
      display:grid;
  }
  .year{
    font-size:18px
  }
  .dateOfCard{
    margin-right:15px;
    padding-top:10px;
    padding-right:25px;

  }

  .twitter{
  
    height:27px;
    position: relative;
    right:95px;
    width:27px
  }
  .cardWithDate{
    width:100%;
    margin-top:0px;
    margin:auto;
 
  }
  .date{
    font-size:11px;
   color:rgb(87, 85, 85);
    width:100px;
    margin-right:10px;
  }
  .gridView{
    width: 22px;
    height:22px;
  margin:10px;
  color:black;

  }
  .textEditArea{
    width:90%;
    border-radius:3px;
    font-size:12px;
    
  }
 .listView{
  width: 22px;
  height:22px;
margin:10px;
color:black;
 }
  .twitterContainer{
    text-align: left;
  }
  /* .twitterHolder{
    padding-right:5%;
    text-align:right;
  } */
  a:link {
    color: rgb(10, 2, 85);
    text-decoration: underline;
  }
  .issueContainerMore{
    border-style: none;
  
    width:95%;
    margin:auto;
   
    margin-top:20px;
    border-color:rgb(221, 220, 220);
    border-width:1px;
  }
  .issueContainer{
    border-style: none;
 
    width:95%;
    margin:auto;
       margin-top:20px;
    border-color:rgb(221, 220, 220);
    border-width:1px;
  }
  .acceptRejectDiv{
    display:grid;
    grid-template-columns: 50% 50%;
    text-align: center;

  }
  .acceptCall{
    width:40px;
    margin:auto;
    height:40px;
    padding-top:7px;
    border-radius:50%;
    background-color: rgba(52, 124, 52, 0.822);
    box-shadow: 0px 0px 10px 2px rgba(110, 110, 110, 0.212);

    color:white;
    border-style:none;
  }
  .reject{
    background-color: rgba(167, 75, 75, 0.774);
  }
  .callNotification{
    width:20%;
    margin:auto;
    margin-top:10px;
    background-color: white;
    border-style: solid;
    border-radius:6.5px;
    border-width:1px;
    border-color: #bebebe81;
    padding-top:10px;
    padding-bottom:10px;
    box-shadow: 0px 0px 10px 1px rgba(110, 110, 110, 0.103);

}
  .dropdownImage{
    background-color: white;
    border-style:none
}
  
  a{
    color:blue;
  }
  a:visited {
    color: rgb(68, 68, 68);
  }
  
  a:hover {
    color: rgb(68, 68, 68);
     text-decoration: none;
  }
  
  /* a:active {
    /* color:blue; */
  /* } */
    .ActivityBelow{
    width:80%;
    margin:auto;
    margin-top:0px;
    padding-top:5px;
  
  }
  .rcrdAct{
    margin-top:20px;
    padding-top:10px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #bebebe81;
  }

  .issueCard{
    padding-bottom:5px;
    width:100%;
    /* background-color:  rgb(252, 252, 252);; */
    /* background-color: red; */
    border-style:solid;
    border-width:0.5px;
    border-color:#dde2e2;
    margin-top:10px;
    background-color: white;
    border-radius:2px;
    
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color: rgba(8, 8, 32, 0.137);
  }
  .issueCard:hover{
    /* border-left-width:1.5px;
    border-left-color:#34a9ad; */
    box-shadow: 5px 5px 7px 0.5px rgba(82, 81, 81, 0.034); 
    /* background-color:  rgb(246, 246, 246) */
  }
 
 .HowTWorksDiv{
   /* position:fixed;
   bottom:20px;
   left:20px; */
   margin-top:50px;
 }
  .modalBody{
    background-color :white;
    padding:0px;
    width:100%;
    align-self: left;
    position:absolute;
    border-radius:6.5px;
 }
  .modalClose{
    height:55px;
    width:55px;
    color:white;
   


  }
  .modalBodyTool{
   padding:0px;
    margin:auto;
    align-self: center;
    position:absolute;
  }

  .userName{
    text-align: center;
  }
  .tweetButton{
    height:25px;
      float:right;
  }
  .sharBtn{
    height:25px;
    border-style:none;
  }

  .modalBtns{
    width:100%;
  }

  .cardAudio{
   text-align:center;
  }
  .orginCard{
    border-bottom-style:none;
    border-color:rgb(232,232,232);
    border-width: 1px;
    /* background-color: blue; */
  }

  .icon{
    color:#2b8588;
    font-size: 20px;
    margin:5px;
  }
 
  
  .explainItBtn{
    width:80px;
    height:23px;
    padding-right:12px ;
    padding-left:12px;
    font-weight:600;
    font-size:13px;
  }

  .emptyIssues{
    text-align: center;
    padding:20px;
  }
  .imagePeopleDiv{
    display: inline-block;
    height:30px;
    width:30px;
    margin:2px;

  }
  .displayPeople{
    display: inline-block;
  }
  .peopleImage{
    border-radius: 50%;
    width:100%;
    height:100%;
   
  }
  .listOfAllPeople{
    margin-top:10px;
    width:60%;

  }
  .peopleName{
    padding-top:5px;
    font-size:12px;
    color:rgb(153,153,153);
  }
  .singleMember{
    width:80%;
    margin:auto;
    margin-top:10px;
    display:grid;
    grid-template-columns:25% 75%
  }
  .numberOfPeople{
    padding-left:65%;
    padding-top:5px;
    font-size:16px;
    color:rgb(153,153,153)
  }
  .likes{
    width:75%;
    padding-bottom:7px;
    display: inline-block;
    display:grid;
    grid-template-columns: 13% 13% 13% 13% 13% 13% 13%
  }
 
  .toolContainer{
    background-color: white;
    padding:10px;
    border-radius:2px;

  }

  .btn-twitter {
      background: #00ACEE;
      border-radius: 0;
      color: #fff;
      border-width: 1px;
      border-style: solid;
      border-color: #0075a2;
    }
    .twitterBtn{
      color:white;
      height:30px;
      padding-top: 1.5px;
      font-size:14px;
      margin:5px;
      
    }
    .btn-twitter:link, .btn-twitter:visited {
      color: #fff; 
    }
    .btn-twitter:active, .btn-twitter:hover {
      background: #0075a2;
      color: #fff; 
    }




    @media (min-width: 700px) {
      .issueContainer{
        width:75%;
      }
      .callNotification{
        width:55%;
        margin:auto;
      }
      .containerHome{
        width:85%;
      }
      .sharableLinkSection{
        width:50%;
      }
      .ProfileDiv{
        width:85%;
        margin:auto;
      }
      .Profilecard{
        width:60%;
      }
   
      .profileImage{
        height:105px;
        width:105px;
      
      }
      .profileImageElement{
        height:106px;
        width:106px;
       
      }
      .displayNumber{
        
        font-size: 13px;
       
      }
      .labelContainerMain{
        width:50%;
        /* background-color: orange; */
    }
    .dateNew{
      color:rgba(206, 201, 201, 0.867);
   align-self: left;
   margin-right:80%;
      position: relative;
      top:12px;
   
}
      .cardWithDate{
        /* width:80%;  */
        margin:auto;
        margin-top:0px;
       
       
      }
    
    }

    @media (min-width: 1000px) {
      .sharabledSection{
        width:50%;
      }
      .issueContainer{
        width:55%;

      }
      .containerHome{
        width:85%;
      }
      
     
      .ProfileDiv{
        width:60%;
        margin:auto;
      }
      .callNotification{
        width:20%;
        margin:auto;
      }
      .Profilecard{
        width:60%;
      }
      .profileImage{
        height:115px;
        width:115px;
      
      }
      .profileImageElement{
        height:116px;
        width:116px;
       
      }
      .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:black;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        box-shadow: 0px 0px 10px 2px rgb(150, 149, 149);
      }
    
      
      .displayNumber{
    
        font-size: 18px;
       
      }
      .cardWithDate{
        /* width:80%; */
        
        margin:auto;
      
        margin-top:-2px;
       
      }
    

    }