/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
   
    border-bottom-color: rgb(192, 190, 190);
    height:50px;
   
  } */
  .navbar-brand{
    color:white;
  }
  .MailIconHolder{
    margin-top:10px;
    width:40px;
    height:30px;
  }
  .sharableLinkSection{
    width:60%;
    margin:auto;
    padding:15px;
    background-color: white;
    margin-top:10px;
    text-align: center;
    border-radius:6.5px;
    border-style:solid;
    border-width:0.8px;
    border-color:#b6b4b4;
  }
  .navBar{
    background-color:white;
    /* color:#efefe9;   */
     /* box-shadow: 0px 0px 5px 1px rgba(85, 85, 85, 0.329); */
     min-height:70px;
     border-bottom-style:solid;
     border-bottom-color:rgb(224, 215, 215);;
     border-bottom-width:0.7px;

  }
  .sharableLink{
    width:20%;
    margin-left:0px;
    background-color: white;
    text-align: left;
    align-content: left;
    align-items: left;
  }
  
.bodyWhole{
    background-color:rgb(255, 255, 255);
  
     
    
  
}
.profileImages{
  width:100%;
  height:100%;
  border-radius:50%;
  /* background-color: #ffff; */
  /* box-shadow: 0px 0px 7px 1px rgb(136, 135, 135); */
}
.twitterBtnDiv{
  width:100%;
  text-align:center;
  margin-top:25px;
  align-content: center;


}
.profileImagesDiv{
  margin:0px 10px 0px 10px;
  height:37px;
  width:37px;
  border-radius:50%;
  /* background-color: #ffff; */
  /* box-shadow: 0px 0px 8px 1px rgba(12, 12, 12, 0.849); */

}
  /* li {
    margin:10px 10px 0px 10px;
   float:right;
  }

 
  .navLeft{
float:left;
  } */
  /* .navButton1{
     
    
padding-top:-10px;
      margin:10px;
    
  } */
 /* .navButton2{
  
padding-top:-10px;
    margin:10px;
  
}  */
a{
  color:rgb(12, 12, 53);
}
.LinkBtn{
  color:white;

}
  li a {
  
    color:rgb(12, 12, 53);
  
  }

  
  
.addBtn{
  width:100%;
text-align: center;
  margin:auto;
}
.Profilecard{
  width:85%;
  height:80px;
  margin:auto;
  margin-top:40px;
  /* background-color:#16c5d8; */
  /* background-color:#c4d7e4; */
  background-color: #ffff;
  /* background-color: #3333; */
  border-style:solid;
  border-width:0.5px;
  border-color:#b9b8b8; 
  border-radius:20.5px;
  box-shadow: 0px 0px 8px 1px rgba(245, 242, 242, 0.5);
 
}
.Profilecard:hover{
  box-shadow: 0px 0px 0px 0px rgba(143, 143, 143, 0.527);
}
.displayInvite{
  min-height:100vh;
}
.inviteMagic{

  padding:30px;
  margin-top:85px;
  /* background-color:white; */
  border-style:none;
  border-width:0.5px;
  border-radius:8px;
  border-color:rgba(155, 153, 153, 0.609);
}
.inviteContainer{
  width:40%;
  margin:auto;
  padding-top:105px;
  text-align: center;
  color:rgb(97, 96, 96);

}
.blackwhite{
  text-align: center;
  padding:8px;
  margin-top:0px;

  height:65%;
  /* background-color: rgb(252, 252, 250); */
  
  background-color: #dddd;
  border-top-left-radius: 6.5px;
  border-top-right-radius: 6.5px;
}
.ProfileDiv{
  width:95%;
  margin:auto;
  text-align: center;
  align-items: center;
}
.explainBtn{
 
 font-size: 17px;
  border-radius:20px;
  width:100px;
  height:40px;
margin-top:10px;

}
.fullHome{
  min-height:100vh;
}
.displayNumber{
  color:black;
  text-align: center;
  font-size: 15px;
  margin-top:7px
}

.profileDetails{
  padding:05px;
  display:grid;
  grid-template-columns: 25% 55% 20%;
  margin:auto;

}
.numberShow{
  position: relative;
  font-weight: bold;
  color:rgb(11, 11, 92);
  /* top:px; */
  /* color:black; */
  font-size:20px;
}
.profileImage{
  height:65px;
  width:65px;
  border-radius:50%;
  margin:auto;
  background-color:white;
  position:relative;
  top:-40%;
 
  text-align: center;
  box-shadow: 0px 0px 7px 1px rgba(105, 105, 105, 0.349)
}
.profileImageElement{
 /* background-color: #ffff; */
  height:66px;
  width:66px;
  border-radius:50%;
  margin:auto;
}
.profileImage{
  height:125px;
  width:125px;

}
.profileImageElement{
 /* background-color: #ffff; */
  height:126px;
  width:126px;
 
}
.nameImageDiv{
  text-align: center;

}
.profileName{
  position:relative;
  top:-40%;
 
}
.callerProfileImage{
  height:75px;
  width:75px;
  border-radius:50%;
  margin:auto;
  background-color:white;
  text-align: center;
  box-shadow: 0px 0px 7px 1px rgba(105, 105, 105, 0.349)
}
.callerProfileImageElement{
   height:75px;
  width:75px;
  border-radius:50%;
  margin:auto;
}

  .containerHome{
      width:95%;
      margin:auto;
      text-align: center;
      display:grid;
      /* grid-template-columns: 30% 40% 30%;
      grid-column-gap: 5px; */


      
  }
  .questionImg{
    height: 155 px;
    width:100%;
  }
  .twitter{
    /* float:right; */
    height:27px;
    width:27px
  }
  .twitterHolder{
    padding-right:5%;
    text-align:right;
  }
  a:link {
    color: rgb(99, 99, 99);
    /* text-decoration: underline; */
  }
  .issueContainer{
    border-style: none;
    border-radius: 8px;
    padding:5px;
    width:95%;
    margin:auto;
    /* background-color: rgb(239,239,233); */
    /* background-color: white; */
    margin-top:20px;
    border-color:rgb(221, 220, 220);
    border-width:0.5px;
  }
  .callNotification{
    width:40%;
    margin:auto;
    margin-top:10px;
    background-color: white;
    border-style: solid;
    border-radius:6.5px;
    border-width:0.4px;
    border-color:rgb(185, 184, 184);
    display:grid;
    grid-template-columns: 35% 65%;

    padding:10px;
}
  .dropdownImage{
    background-color: white;
    border-style:none
}
  
  /* visited link */
  a{
    color:blue;
  }
  a:visited {
    color: rgb(68, 68, 68);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(68, 68, 68);
     text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color:blue;
  }
  .issueCard{
      width:93%;
      margin:auto;
     
      box-shadow: 0px 0px 10px 1.5px rgba(236, 234, 234, 0.411);
      background-color :white;
      margin-top:40px;
      border-radius:6.5px;
      border-style:solid;
      border-width:0.5px;
      border-color: rgb(241, 237, 237);
  }
  .issueCard:hover{
    box-shadow: 0px 0px 0px 0px rgba(235, 235, 235, 0.911);
  }
  .modalBody{
    /* background-color: #111; */
    background-color :white;
    padding:0px;
    width:100%;
    margin:auto;
    align-self: left;
    position:absolute;
    border-radius:6.5px;

    /* padding:0px; */
  }
  .modalClose{
    height:55px;
    width:55px;
    color:white;
   


  }
  .modalBodyTool{
    /* background-color: #111; */
    padding:0px;
    width:130%;
    margin:auto;
    align-self: center;
    position:absolute;

    /* paddincontainerHomecontainerHomeg:0px; */
  }

  .userName{
    text-align: center;
  }
  .tweetButton{
    height:25px;
      float:right;
  }
  .sharBtn{
    height:25px;
    border-style:none;
  }
  .questionText{
width:99%;
margin:auto;
min-height: 60px;
/* background-color: blue; */
padding:05px 25px 05px 25px;
font-size:13px;
background-color :white;
border-style: none;

  }
  .modalBtns{
    width:100%;
  }

  .cardAudio{
   text-align:center;
  }
  .orginCard{
    border-bottom-style:solid;
    border-color:rgb(232,232,232);
    border-width: 1px;
  }
  .explainAnswer{
    width:99%;
    margin:auto;
    background-color :white;
    display:grid;
    grid-template-columns: 75% 25%;
    padding:5px;

  }
  .explainItBtn{
   
    float:right;
  }

  .emptyIssues{
    text-align: center;
    padding:20px;
  }
  .imagePeopleDiv{
    display: inline-block;
    height:27px;
    width:27px;
    margin:2px;

  }
  .displayPeople{
    display: inline-block;
    /* background-color: blue; */
  }
  .peopleImage{
    border-radius: 50%;
    width:100%;
    height:100%;
   
  }
  .listOfAllPeople{
    margin-top:10px;
    /* padding:px;10px; */
    width:60%;

  }
  .peopleName{
    padding-top:5px;
    font-size:12px;
    color:rgb(153,153,153);
  }
  .singleMember{
    width:80%;
    margin:auto;
    margin-top:10px;
    display:grid;
    grid-template-columns:25% 75%
  }
  .numberOfPeople{
    padding-left:65%;
    padding-top:5px;
    font-size:16px;
    color:rgb(153,153,153)
  }
  .likes{
    width:75%;
    display: inline-block;
    /* background-color:red; */
    display:grid;
    grid-template-columns: 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6%
  }
  .toolContainer{
    background-color: white;
    padding:10px;
    border-radius:2px;

  }

  .btn-twitter {
      background: #00ACEE;
      border-radius: 0;
      color: #fff;
      border-width: 1px;
      border-style: solid;
      border-color: #0075a2;
    }
    .twitterBtn{
      color:white;
      height:25px;
      padding-top: 2px;
      
    }
    .btn-twitter:link, .btn-twitter:visited {
      color: #fff; 
    }
    .btn-twitter:active, .btn-twitter:hover {
      background: #0075a2;
      color: #fff; 
    }




    @media (min-width: 700px) {
      .issueContainer{
        width:75%;
      }
      .containerHome{
        width:85%;
      }
      .ProfileDiv{
        width:95%;
        margin:auto;
      }
      .Profilecard{
        width:40%;
      }
      .questionImg{
        height: 250px;
        width:100%;
      }
      .profileImage{
        height:75px;
        width:75px;
      
      }
      .profileImageElement{
       /* background-color: #ffff; */
        height:76px;
        width:76px;
       
      }
      .displayNumber{
        
        font-size: 13px;
       
      }
    
    }

    @media (min-width: 1000px) {
      .issueContainer{
        width:65%;
        border-style: solid;
        border-radius: 8px;
        background-color: white;
      }
      .containerHome{
        width:65%;
      }
      .questionImg{
        height: 300px;
        width:100%;
      }
      .ProfileDiv{
        width:80%;
        margin:auto;
      }
      .Profilecard{
        width:50%;
      }
      .profileImage{
        height:45px;
        width:45px;
      
      }
      .profileImageElement{
       /* background-color: #ffff; */
        height:46px;
        width:46px;
       
      }
      .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:black;
        color:#FFF;
        border-radius:50px;
        text-align:center;
        box-shadow: 0px 0px 10px 2px rgb(150, 149, 149);
      }
      .displayNumber{
    
        font-size: 18px;
       
      }
    
    }