/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
   
    border-bottom-color: rgb(192, 190, 190);
    height:50px;
   
  } */
  .navBar{
    background-color:white;
     box-shadow: 0px 0px 3px 1px rgba(236, 236, 236, 0.911);
     /* border-bottom-style:solid;
     border-bottom-color:rgb(221,221,212);
     border-bottom-width:1px; */

  }
  
.bodyWhole{
    background-color:rgb(220, 220, 250);
  
     
    
  
}
.profileImages{
  width:100%;
  height:100%;
  border-radius:50%;
}
.profileImagesDiv{
  margin:0px 10px 0px 10px;
  height:37px;
  width:37px;
  border-radius:50%;
 
}
  /* li {
    margin:10px 10px 0px 10px;
   float:right;
  }

 
  .navLeft{
float:left;
  } */
  /* .navButton1{
     
    
padding-top:-10px;
      margin:10px;
    
  }
  .navButton2{
  
padding-top:-10px;
    margin:10px;
  
} */

.LinkBtn{
  color:white;

}
  li a {
  
    color:rgb(78, 78, 78);
  
  }

  
  
.addBtn{
  width:100%;
text-align: center;
  margin:auto;
}
  .containerHome{
      width:43%;
      margin:auto;
      
  }
  .questionImg{
    height: 200px;
    width:100%;
  }
  .twitter{
    float:right;
    height:27px;
    width:27px
  }
  .twitterHolder{
    padding-right:10%;
  }
  .issueCard{
      width:100%;
      margin:auto;
     
      box-shadow: 0px 0px 5px 1px rgba(236, 236, 236, 0.911);
      background-color:white;
      margin-top:40px;
      border-radius:3px;
      border-style:none;
      border-width:0.7px;
      border-color: rgb(232,232,232);
  }
  .modalBody{
    /* background-color: #111; */
    padding:0px;
    width:110%;
    margin:auto;
    align-self: center;
    position:absolute;

    /* padding:0px; */
  }
  .modalBodyTool{
    /* background-color: #111; */
    padding:0px;
    width:130%;
    margin:auto;
    align-self: center;
    position:absolute;

    /* padding:0px; */
  }
  .topButtons{
      width:100%;
      padding:7px 7px 0px 0px;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    border-bottom-style:solid;
    border-bottom-color: rgb(232,232,232);
    border-bottom-width:0.5px;
   
  }
  .userName{
    text-align: center;
  }
  .tweetButton{
    height:25px;
      float:right;
  }
  .sharBtn{
    height:25px;
    border-style:none;
  }
  .questionText{
width:99%;
margin:auto;
min-height: 60px;
/* background-color: blue; */
padding:05px 25px 05px 25px;
font-size:13px;
background-color: white;
border-style: none;

  }
  .modalBtns{
    width:100%;
  }

  .cardAudio{
   text-align:center;
  }
  .orginCard{
    border-bottom-style:solid;
    border-color:rgb(232,232,232);
    border-width: 1px;
  }
  .explainAnswer{
    width:99%;
    margin:auto;
    background-color: #fff;
    display:grid;
    grid-template-columns: 75% 25%;
    padding:5px;

  }
  .explainItBtn{
   
    float:right;
  }
  .imagePeopleDiv{
    display: inline-block;
    height:27px;
    width:27px;
    margin:2px;

  }
  .displayPeople{
    display: inline-block;
    /* background-color: blue; */
  }
  .peopleImage{
    border-radius: 50%;
    width:100%;
    height:100%;
   
  }
  .listOfAllPeople{
    /* padding:10px; */
    width:60%;

  }
  .peopleName{
    padding-top:5px;
    font-size:12px;
    color:rgb(153,153,153);
  }
  .singleMember{
    width:80%;
    margin:auto;
    display:grid;
    grid-template-columns:25% 75%
  }
  .numberOfPeople{
    padding-left:65%;
    padding-top:5px;
    font-size:16px;
    color:rgb(153,153,153)
  }
  .likes{
    width:75%;
    display: inline-block;
    /* background-color:red; */
    display:grid;
    grid-template-columns: 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6% 6%
  }
  .toolContainer{
    background-color: white;
    padding:10px;
    border-radius:2px;

  }