.loginContain{
 
  height:100vh;
  width:100%;
     display: grid;
     grid-template-columns: 50% 50% ;
    
}
.ShapeImage{
    height:100vh;
/* background-color: blue; */


}
.Logininfo{
    height:100%;
    width:35%;  
    margin:auto;
   padding-top:15%;
    text-align: center;
    width:65%;
   
}
.loginSection{
    height:100vh;
}
.loginButton{
    width:35%;
    margin:auto;
    display: grid;
    grid-template-columns: 50% 50%;
}
.actualButton{
    width:100px;
    height:30px;
    border-radius:5px;
    border-style:solid;
    border-width:2px;
    color:rgb(27, 27, 99);
    border-color:rgb(27, 27, 99);


}
.twitterButton{
    background-color:white;
    color: #34a4a8;
    border-color:#34a4a8;
    border-width:0.5px;
    border-style:solid;
    height:50px;
    font-size:18px;
    border-radius:25px;
    padding-left:20px;
    padding-right:20px;
}
.twitterButton:hover{
    background-color:white;
}
.buttonDiv{
    align-items: center;
    text-align:center;
}
.actualButton2{
    width:100px;
    height:30px;
    border-radius:15px;;
    border-style:solid;
    border-width:2px;
    background-color: rgb(27, 27, 99);
    color:white;
    border-color:rgb(27, 27, 99);


}
