.profileConatinerMain{
    width:75%;
    background-color: white;
    margin:auto;
    /* background-color: white; */
    border-style:solid;
    border-color:#bebebe81;
    padding:15px;
    border-width:1px;
border-radius:5px;
color:rgba(51, 51, 51, 0.938);
padding:10px;
}
.socialIcon{
    padding:5px;
    display:inline-block;
}

.bio{
    width:80%;
    margin:auto;
    margin-top:20px;
    color:rgba(51, 51, 51, 0.815);
    font-size:14px;
    text-align: justify
}
.edit{
    float:left;
    margin-right:50%;
}


@media (min-width: 700px) {
    .profileConatinerMain{
        width:48%;
        }
    
}

@media (min-width: 1000px) {
    .profileConatinerMain{
    width:30%;
    }

}