
.projectPageMainDiv{
    background-color:  #f9fafa;
    /* min-height:98vh; */
}
.projectContainer{
    
    width:100%;
    margin:auto;
    padding-top:15px;
    border-style:"none";
    border-radius:"12px";
    background-color:"white";
}

.explainItBtn{
    color:black;
   border-radius:50px;
    float:right;
    align-self: right;
    align-content: right;
  }
/* .style={{width:"50%", margin:"auto", borderStyle:"none", borderWidth:"0.5px", borderRadius:"12px",backgroundColor:"white"} */

@media (min-width: 1000px) {
    .projectContainer{
        width:50%;
    }
}