.projectContainer{
    
    width:50%;
    margin:auto;
    margin-top:40px;
}

.explainItBtn{
    color:black;
   border-radius:50px;
    float:right;
    align-self: right;
    align-content: right;
  }
