.videoPlayer{
    width:100%
}
.recordMainScreen{
    background-color: white;
    padding:5px;
    width:320px;
    margin:auto;
    border-radius:5px;
    border-style:none;
    border-width:0.5px;
    border-color:#dde2e2;
    font-size:14px;
    /* box-shadow: 0px 0px 5px 0.5px rgba(95, 95, 95, 0.068); */

}
.explainItRec{
    background-color: #dddd;   
}
.screenShareDiv{
    /* min-height: 100vh; */
    width:100%;
    margin:auto;
    /* background-color:red; */
    /* padding:0px; */
    align-content: center;
    align-items: center;
    text-align: center;
    display:none;
    /* border-style:solid; */
    /* border-radius:5px;
    border-width:1px;
    border-color:rgb(87, 87, 87) */
}
.showVideoElement{
    margin-top:15px;
    width:100%;
    /* height: 30px; */
}
.videoPlayer2{
width: 100%;
height:80%
}
.VideoElement{
  width:100%;
  /* height:100vh; */
   margin:auto;

}
.btnGap{
    margin:15px;
}


.btDiv{
    width:100%;
    text-align: center;
margin-top:0px;
}
.postRecord{
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    padding-top:16px;
}
.convey{
    width:100%;
    text-align: center;
    /* padding-top:200px; */
}


.recorderfooter{
    /* height:20vh; */
    /* background-color:blue; */
    float:bottom;
    position:relative;

}

.recorderInfo{
    /* min-height:40vh; */
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
    font-size:15px;
    /* font-weight:bold; */
}
.statusBarCall{
    display:grid;
    grid-template-columns: 15% 70% 15%
}

.mainBtn{
   border-radius:15px;
   width:65px;
   height:30px;
   border-style:none;
   background-color: rgb(26, 66, 26);
   color:white;
}
.mainBtn :active{
    border-style:none;
}
.postCalltextDisplay{
    text-align:center;
    width:80%;
    margin:auto;
    margin-top:20px;
}
  