.contain{
    width:91%;
    margin:auto;
    background-color: #ddd;
   
    padding:15px;
    position: relative;
    top:0px;

}
.textInput{
    width:80px;
}
.grid-container-shapes {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-gap: 0px;
    background-color:#ddd;
    /* padding: 10px; */
    /* height:280px; */
  }

  .imagesShapes{
    width:60px;
    height:60px;
    /* border-style:solid;
    border-width:1px;
    border-radius:3px; */
}
.textInputTool{
    width:120px;
    padding-left:3.5px;
}
.shapes{
    margin-top:10px;
    height:180px;
    width:100%;
    display:grid;
    grid-template-columns: 50% 50%;
  

}