
  .custom-classname.react-toggle--checked .react-toggle-track {
    height:15px ;
    width:35px;
  }
  .ModalA{
    position: absolute;
    top: 60px;
     left: 12%; 
    right: 15%;
    bottom: auto; 
    background-color:#ffffff;
    border-radius:5px;
    /* padding:15px; */
    text-align: center;
    transform  : 'translate(-50%, -50%)'
}
.iconsCard{
  font-size: 35px;
  font-weight: normal;
  

}
.stories{
  left:12%;
  right:15%
}
.ModalEdit{
  position: absolute;
  
  top: 110px;
   left: 12%; 
  right: 15%;
  bottom: auto; 
  background-color:#ffffff;
  border-radius:9px;
  padding:15px;
  text-align: center;
  /* transform  : 'translate(-50%, -50%)' */
}
.closeModalBtn{
  position:fixed;
  top:30px;
  right:30px;
  background-color: white;
  border-radius:50%;
  width:45px;
  height:45px;
}
.closeIcon{
  margin-top:12px;
  height:20px;
  width:20px;
}

.ExplainItDivBottom{
  margin:auto;
  margin-top:20px;
  margin-bottom: 20px;
  
}

    .OverlayA {
    position: fixed;
    top: -2px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(8, 8, 8, 0.787);
  }
  .OverlayEdit {
    /* width:100%; */
    position: fixed;
    top: -2px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(8, 8, 8, 0.787);
  }
  .react-toggle {
    touch-action: pan-x;
  
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
  
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.582);
    -webkit-tap-highlight-color: transparent;
  }
  
  .react-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .react-toggle--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
  }
  
  .react-toggle-track {
    width: 35px;
    height:15px;
    padding: 0;
    border-radius: 30px;
    background-color: rgba(14, 13, 13, 0.561);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  .react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #000000;
  }
  
  .react-toggle--checked .react-toggle-track {
    background-color: #19AB27;
  }
  
  .react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #128D15;
  }
  
  .react-toggle-track-check {
    position: absolute;
    width: 14px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    left: 8px;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }
  
  .react-toggle--checked .react-toggle-track-check {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }
  
  .react-toggle-track-x {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    right: 10px;
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }
  
  .react-toggle--checked .react-toggle-track-x {
    opacity: 0;
  }
  
  .react-toggle-thumb {
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 12px;
    height: 12px;
    border: 1px solid #4D4D4D;
    border-radius: 50%;
    background-color: #FAFAFA;
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .react-toggle--checked .react-toggle-thumb {
    left: 20px;
    border-color: #19AB27;
  }

  
  
  /* .react-toggle--focus .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
    -moz-box-shadow: 0px 0px 3px 2px #0099E0;
    box-shadow: 0px 0px 2px 3px #0099E0;
  }
   */
  .react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
    -moz-box-shadow: 0px 0px 5px 5px #0099E0;
    box-shadow: 0px 0px 5px 5px #0099E0;
  }
  .custom-classname.react-toggle--checked .react-toggle-track {
    height:15px ;
    width:35px;
  }


  @media(min-width:700px){
    .ModalEdit{
      top:170px;
      left:35%;
      right:35%;
    }
    .ModalA{
      position: absolute;
      top: 60px;
       left: 35%; 
      right: 35%;
    }
    .stories{
      top: 30px;
      left:25%;
      right:25%
    }
  }