.landingContainer{
    min-height: 95vh;
    background-color: white;
    display:grid;
    grid-template-columns: 50% 50%;
  padding: 0px 10% 0px 10%;
}
.leftSection{
    text-align: center;
    padding:20px;
   
    min-height:100vh;
    /* background-color: rgb(245,240,248); */

    /* background-color:rgb(18,56,57); */
    margin-top:-5px;
}

.righSectionLand{
   
 
}

.onboardSection{

    margin-top:100px;
    position: fixed; 
    width:35%;
    text-align:center;
    padding:20px;
    /* border-style:solid; */
}
.onboardMessage{
    margin:auto;
    margin-top:50px;
    width:85%;
   
}
.twiCom{
    font-size: 17px;
    font-weight:600
}
.twiHandleInput{
    border-style:none;
    border-bottom-style:solid;
    border-bottom-width:0.8px;
    border-bottom-color:rgba(0, 0, 0, 0.452);
    width:120px;
}