.leftMainConaitiner{
    width:100%;
    margin:auto;
    margin-top:15px;
    text-align:left;
    border-style:none;
    border-width:0.5px;
    border-color:black;
    padding:50px;
    border-radius:5px;
}
.fullBlack{
    color:black;
}
.halfBlack{
    color:rgba(0, 0, 0, 0.603);
}